body {
    height: 100vh;
    background: linear-gradient(180deg, #d6e6ff 60%, rgb(204, 204, 204) 30%);
    overflow: hidden;
}

.outer {
    margin: 2.5% 10%;
}

.boxProductCrud {
    width: 20%;
    height: 300px;
    background-color: whitesmoke;
    margin-bottom: 1%;
    margin-top: 1%;
    box-sizing: content-box;
    box-shadow: 8px 8px 5px 0px rgb(151, 151, 151);
    border-radius: 10px;
    cursor: pointer;
}

.allWrap {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 1%;
}

.partOne {
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    width: 70%;
    height: 850px;
    overflow: hidden;
    border-radius: 15px;
    overflow: auto;
    overflow-x: hidden;
}

.productPicsCrud {
    position: relative;
    margin-top: 10%;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.productPicsCrud img {
    width: 80%;
    height: 100%;
    object-fit: cover;
}

.profileHeader {
    display: flex;
    justify-content: space-around;
    background-color: white;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 10%
}

.partCrud {
    width: 30%;
    background-color: white;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.createForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.inputName {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.inputName input {
    width: 100%;
    height: 20px;
    border: 0px;
    border-bottom: 2px;
    border-style: groove;
    border-color: black;
}

.inputImage {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.inputImage input {
    width: 100%;
    height: 20px;
    display: flex;
    border: 2px;
    border-style: groove;
    margin-top: 5%;
}

.inputPrice {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.inputPrice input {
    width: 100%;
    height: 30px;
    border: 0px;
    border-bottom: 2px;
    border-style: groove;
    border-color: black;
}

.buttonSubmit {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.btnAdd {
    background-color: black;
    height: 50px;
    width: 80%;
    border-radius: 10px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    cursor: pointer;
}

.boxCrud {
    position: relative;
    width: 95%;
    top: 5%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    gap: 2%;
    cursor: pointer;
}